<section class="py-3 bg-main">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <button class="btn" (click)="openSidenav()">
                    <i class="fa-solid fa-bars fs-4"></i>
                </button>
            </div>
            <div class="d-flex justify-content-between header-left-side align-items-center">
                <h5 class="fw-bold d-none d-md-block">{{title}}</h5>
                <div class="d-flex align-items-center">
                    <div class="d-flex mx-3">
                        <button><img src="../../../assets/images/header/calendar-2.svg" alt="calendar"/></button>
                        <button class="mx-2"><img src="../../../assets/images/header/message-question.svg" alt="questions"/></button>
                        <button><img src="../../../assets/images/header/notification.svg" alt="notification"/></button>
                    </div>
                    <button class="d-flex align-items-center">
                        <span>
                            <img src="../../../assets/images/header/Memoji.svg" alt="logo"/>
                        </span>
                        <span class="mx-2">
                            <h6 class="mb-1 fw-bold">أحمد سليمان</h6>
                            <p>معلم</p>
                        </span>
                        <span>
                            <img src="../../../assets/images/header/arrow-down.svg" alt="arrow"/>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
